@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Noto Sans Arabic", sans-serif;
}

.login-container,
.hello-msg {
  height: 100%;
}
.login-container {
  width: 60%;
}

#logo {
  display: block;
  width: 300px;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

form h1 {
  color: #ff6633;
}

.input-container {
  width: 80%;
  background-color: #eaeeed;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.25rem 0.5rem;
}

.input-container svg {
  width: 30px;
  margin-top: 8px;
}
.input-container input {
  height: 100%;
  width: 95%;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}

form a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 1rem 0;
}

form button {
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 600;
  padding: 0.25rem 2rem;
  border-radius: 2.5rem;
  background-color: #ff6633;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.hello-msg {
  width: 40%;
  background: radial-gradient(#ff6633, #d63a05);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.hello-msg svg {
  position: absolute;
  right: 10%;
  bottom: 5px;
}

@media (max-width: 720px) {
  .hello-msg {
    display: none;
  }
  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form {
    width: 100%;
  }
}
